* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* line-height: 1.5; */
}
.wayli-c {
  width: 100%;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  /* border: 1px solid #ff4800; */
}
.pthlink {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: start;
  color: #808080;
  font-size: 10px;
  /* font-weight: 600; */
  /* border: 1px solid #000; */
}
.desx-mains {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid #000; */
}
.dex {
  height: auto;
  width: 91.66%;
  display: flex;
  justify-content: center;
  /* border: 1px solid #ff4800; */
}
.prdt-holder {
  height: auto;
  width: 98%;
  display: flex;
  justify-content: start;
  border: 1px solid #dcdcdc;
  /* background-color: #faf9f6; */
}
.primgh-c {
  height: auto;
  width: 33%;
  /* border: 1px solid #ffee00; */
}
.primg {
  height: auto;
  width: 100%;
  /* border: 1px solid #000; */
}
.primg img {
  height: 300px;
  width: 310px;
}

.txtspc {
  height: auto;
  width: 40%;
  display: block;
  /* border: 1px solid #800080; */
  padding-top: 30px;
}
.ltx {
  height: auto;
  width: 95%;
  line-height: 1.4;
  /* border: 1px solid #005c80; */
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}
.d {
  display: flex;
  justify-content: start;
  height: auto;
  /* padding-right: 10px; */
  width: auto;
  flex-wrap: wrap;
  /* border: 1px solid #000; */
}
.deX-C {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 8px;
  /* border: 1px solid #000; */
}
.deX {
  font-size: 9px;
  color: rgb(15, 138, 12);
  padding: 2px 6px;
  border-radius: 6px;
  background: rgb(214, 253, 230);
  backdrop-filter: blur(2px);
}
.rrr {
  display: flex;
  padding-left: 10px;
  height: auto;
  padding-bottom: 3px;
  align-items: center;
  width: auto;
  color: #808080;
  font-size: 10px;
  justify-content: center;
  /* border: 1px solid #000; */
}
.zeX-C {
  height: auto;
  width: 100%;
  padding-top: 12px;
  display: flex;
  justify-content: start;
  /* border: 1px solid #000; */
}
.zeX {
  font-size: 9px;
  padding: 2px 6px;
  border-radius: 6px;
  background-color: rgb(11, 36, 146);
  backdrop-filter: blur(2px);
}
.zeX a {
  text-decoration: none;
  color: #fff;
}

.lobtn {
  height: auto;
  padding-top: 15px;
  width: 100%;
  /* justify-content: space-between; */
  display: flex;
  gap: 10px;
  /* border: 1px solid #000; */
}

.tgstxt-c {
  /* border: 1px solid #000000; */
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tgsc {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  height: auto;
  width: 61%;
  /* border: 1px solid green; */
}
.tgstxt {
  font-size: 12px;
  font-weight: 600;
  color: #333333;
  /* border: 1px solid purple; */
}
.tgtl a {
  text-decoration: none;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: gainsboro;
  color: #333333;
}
.ordl {
  height: auto;
  width: auto;
  display: flex;
  /* border: 1px solid #000; */
}
.lpbtn {
  padding: 8px 30px;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  color: #333333;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  border: 2px solid #808080;
  border-radius: 6px;
}
.ordl :hover {
  cursor: pointer;
  opacity: 0.8;
  color: #333333;
}
.fav-c {
  height: auto;
  width: auto;
  display: flex;
  /* border: 1px solid #000; */
}
.addf,
.shar {
  padding: 6px 12px;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  color: #333333;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  border: 2px solid #808080;
  border-radius: 7px;
}
.fav-c :hover {
  background-color: #00000017;
  cursor: pointer;
}
.adsintro {
  padding-top: 25px;
  height: auto;
  width: 27%;
  /* border: 1px solid #000; */
}

.ad-z {
  height: 260px;
  width: 90%;
  border-radius: 4px;
  padding-left: 12px;
  padding-top: 8px;
  font-weight: 600;
  font-size: 12px;
  background-color: #f4f4f4;
  /* border: 1px solid #000; */
}

/* medium devices */
@media (min-width: 600px) and (max-width: 992px) {
  .wayli-c {
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    /* border: 1px solid #ff4800; */
  }
  .pthlink {
    width: 86.66%;
    height: auto;
    display: flex;
    justify-content: start;
    color: #808080;
    font-size: 10px;
    font-weight: 600;
    /* border: 1px solid #000; */
  }
  .desx-mains {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid #000; */
  }
  .dex {
    height: auto;
    width: 86.66%;
    display: flex;
    justify-content: center;
    /* border: 1px solid #ff4800; */
  }
  .prdt-holder {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #dcdcdc;
    /* background-color: #faf9f6; */
  }
  .primgh-c {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid #ffee00; */
  }
  .primg {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid #000; */
  }
  .primg img {
    height: 300px;
    width: 310px;
    /* border: 1px solid #000; */
  }
  .txtspc {
    height: auto;
    width: 90%;
    flex-wrap: wrap;
    /* border: 1px solid #800080; */
    padding-top: 30px;
  }
  .ltx {
    height: auto;
    width: 100%;
    line-height: 1.4;
    /* display: flex; */
    /* border: 1px solid #005c80; */
    font-size: 18px;
    font-weight: 600;
    color: #333333;
  }
  .lobtn {
    height: auto;
    padding-top: 15px;
    width: 100%;
    /* justify-content: space-between; */
    display: flex;
    gap: 10px;
    /* border: 1px solid #000; */
  }
  .tgsc {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    height: auto;
    width: 61%;
    gap: 10px;
    /* border: 1px solid green; */
  }
  .tgstxt {
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    /* border: 1px solid purple; */
  }
  .tgtl a {
    text-decoration: none;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: gainsboro;
    color: #333333;
  }
  .ordl {
    height: auto;
    width: auto;
    display: flex;
    /* border: 1px solid #000; */
  }
  .lpbtn {
    padding: 8px 30px;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    align-items: center;
    background-color: transparent;
    justify-content: center;
    border: 2px solid #808080;
    border-radius: 6px;
  }
  .fav-c {
    height: auto;
    width: auto;
    display: flex;
    /* border: 1px solid #000; */
  }
  .addf,
  .shar {
    padding: 6px 12px;
    display: flex;
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    align-items: center;
    background-color: transparent;
    justify-content: center;
    border: 2px solid #808080;
    border-radius: 7px;
  }
  .fav-c :hover {
    background-color: #00000017;
    cursor: pointer;
  }
  .adsintro {
    padding-top: 25px;
    height: auto;
    width: 100%;
    /* border: 1px solid #000; */
  }

  .ad-z {
    height: 270px;
    width: 100%;
    border-radius: 4px;
    padding-left: 12px;
    padding-top: 8px;
    font-weight: 600;
    font-size: 12px;
    background-color: #f4f4f4;
    /* border: 1px solid #000; */
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 74.99%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* mobile devices */
@media (max-width: 600px) {
  .wayli-c {
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    /* border: 1px solid #ff4800; */
  }
  .pthlink {
    width: 91.66%;
    height: auto;
    display: flex;
    justify-content: start;
    color: #808080;
    font-size: 10px;
    /* font-weight: 600; */
    /* border: 1px solid #000; */
  }
  .desx-mains {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid #000; */
  }
  .dex {
    height: auto;
    width: 91.66%;
    display: flex;
    justify-content: center;
    /* border: 1px solid #ff4800; */
  }
  .prdt-holder {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #dcdcdc;
    /* background-color: #faf9f6; */
  }
  .primgh-c {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid #ffee00; */
  }
  .primg {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid #000; */
  }
  .primg img {
    height: 300px;
    width: 310px;
    /* border: 1px solid #000; */
  }
  .txtspc {
    height: auto;
    width: 90%;
    flex-wrap: wrap;
    /* border: 1px solid #800080; */
    padding-top: 30px;
  }
  .ltx {
    height: auto;
    width: 100%;
    line-height: 1.4;
    /* display: flex; */
    /* border: 1px solid #005c80; */
    font-size: 18px;
    font-weight: 600;
    color: #333333;
  }
  .lobtn {
    height: auto;
    padding-top: 15px;
    width: 100%;
    /* justify-content: space-between; */
    display: flex;
    gap: 10px;
    /* border: 1px solid #000; */
  }
  .tgstxt-c {
    /* border: 1px solid #000000; */
    height: auto;
    width: 62%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .tgsc {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    height: auto;
    width: 100%;
    gap: 10px;
    /* border: 1px solid green; */
  }
  .tgstxt {
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    /* border: 1px solid purple; */
  }
  .tgtl a {
    text-decoration: none;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 0;
    background-color: #f4f4f4;
    color: #333333;
    /* border: 1px solid purple; */
  }
  .ordl {
    height: auto;
    width: auto;
    display: flex;
    /* border: 1px solid #000; */
  }
  .lpbtn {
    padding: 8px 30px;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    align-items: center;
    background-color: transparent;
    justify-content: center;
    border: 2px solid #808080;
    border-radius: 6px;
  }
  .fav-c {
    height: auto;
    width: auto;
    display: flex;
    /* border: 1px solid #000; */
  }
  .addf,
  .shar {
    padding: 6px 12px;
    display: flex;
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    align-items: center;
    background-color: transparent;
    justify-content: center;
    border: 2px solid #808080;
    border-radius: 7px;
  }
  .fav-c :hover {
    background-color: #00000017;
    cursor: pointer;
  }
  .adsintro {
    padding-top: 25px;
    height: auto;
    width: 100%;
    /* border: 1px solid #000; */
  }

  .ad-z {
    height: 270px;
    width: 100%;
    border-radius: 0;
    padding-left: 12px;
    padding-top: 8px;
    font-weight: 600;
    font-size: 12px;
    background-color: #f4f4f4;
    /* border: 1px solid #000; */
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 74.99%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
