* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.logo {
  height: 30px;
  width: 50px;
  /* border: 1px solid black; */
  /* margin-top: -0.5rem; */
  visibility: hidden;
  padding-right: 10px;
}

.intro-parent {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: none;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.intro-cntr {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid rgb(48, 48, 48); */
  justify-content: center;
}

.intro {
  font-size: 15px;
  font-weight: 400;
  color: rgb(48, 48, 48);
}

section {
  width: 100%;
  height: auto;
  background-image: url("news.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid black; */
}

.img-cntr {
  /* border: 1px solid red; */
  height: 200px;
  width: 100%;
}

.svj-parent {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.svj-cntr {
  height: auto;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  background-color: green;
}

.svj-head {
  height: auto;
  width: 350px;
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.note-parent {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding-top: 15px;
}

.note-container {
  height: 300px;
  background-color: transparent;
  /* opacity: 0.5; */
  box-shadow: 0 0 8px 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-heading {
  margin-top: 0.5rem;
  /* border: 1px solid goldenrod; */
  height: auto;
  width: 200px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.note-body {
  margin-top: 1rem;
  /* border: 1px solid red; */
  height: auto;
  width: 300px;
  font-size: 14px;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note-body li {
  font-size: 14px;
  color: #f5f5f5;
}

.note-body li:hover {
  color: #ffffff;
  text-decoration: underline;
  transition: all ease-out 50ms;
  cursor: pointer;
}

aside {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  margin-top: 3rem;
}

.btn-cntr {
  /* border: 1px solid red; */
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
}

.country {
  width: auto;
  height: 20px;
  /* border: 1px solid black; */
  font-size: 16px;
  font-weight: 700;
  color: orangered;
  margin-bottom: 1rem;
}

.btn-drt button {
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: aliceblue;
  color: rgb(44, 44, 44);
  border: none;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.btn-drt button:hover {
  cursor: pointer;
  border: 1px solid rgb(44, 44, 44);
}

footer {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
}

.footer-parent {
  height: auto;
  width: auto;
  /* border: 1px solid black; */
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.fprt {
  height: auto;
  /* border: 1px solid orangered; */
  padding-top: 25px;
  padding-left: 20px;
}

.text-h-contr {
  display: flex;
  /* flex-wrap: wrap; */
}

.icon {
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
  filter: invert(80%);
  margin-right: 10px;
}

.cap,
.text-head {
  /* border: 1px solid black; */
  height: auto;
  width: auto;
  font-size: 17px;
  font-weight: 600;
  color: rgb(48, 48, 48);
  margin-bottom: 1rem;
}

.text-content {
  /* border: 1px solid black; */
  height: auto;
  width: auto;
  font-size: 14px;
  font-weight: 200;
  color: rgb(48, 48, 48);
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.text-content:hover {
  color: #000;
  cursor: pointer;
  font-size: 13px;
}

.close-cntr {
  height: 30px;
  width: 100%;
  /* border: 1px solid purple; */
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.ntl {
  padding-top: 8px;
  font-size: 10px;
  font-weight: 600;
  color: rgb(48, 48, 48);
  display: flex;
  /* border: 1px solid red; */
}

.ntl-img {
  height: auto;
  width: auto;
  padding-right: 10px;
  /* border: 1px solid orangered; */
  background-color: whitesmoke;
}

.about-cntr {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.about {
  font-size: 20px;
  font-weight: 700;
  color: green;
}

/* Extra-large devices */
@media (max-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 74.99%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

/*large */
@media (min-width: 992px) and (max-width: 1199px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Medium*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Small devices*/

@media (min-width: 576px) and (max-width: 767px) {
  .container-fluid {
    background-color: #ffffff;
    margin-top: 2rem;
    position: fixed;
    height: 3rem;
    box-shadow: 0 0 3px 1px #8b8b8b;
  }

  .intro-parent {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: none;
    margin-top: 5rem;
    margin-bottom: 3rem;
    /* border: 1px solid #000; */
  }

  .intro {
    padding-left: 0.5rem;
  }

  .note-body {
    margin-top: 1rem;
    /* border: 1px solid red; */
    height: auto;
    width: 300px;
    font-size: 16px;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
  }

  .btn-drt button {
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: aliceblue;
    color: rgb(44, 44, 44);
    border: none;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }

  .logo {
    height: 40px;
    width: 30px;
    /* border: 1px solid black; */
    margin-top: 0;
    visibility: visible;
    margin-left: 0.5rem;
  }

  .logo img {
    background: none;
    width: 35px;
    /* filter: hue-rotate(50%); */
  }

  .text-content {
    /* border: 1px solid black; */
    height: auto;
    width: auto;
    font-size: 15px;
    font-weight: 200;
    color: rgb(48, 48, 48);
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }

  .text-content:focus {
    color: #000;
    cursor: pointer;
    font-size: 14px;
  }

  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* Extra-small devices*/
@media (max-width: 575px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans serif;
  }

  .container-fluid {
    background-color: #ffffff;
    margin-top: 2rem;
    position: fixed;
    height: 3rem;
    box-shadow: 0 0 3px 1px #8b8b8b;
  }

  .intro-parent {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: none;
    margin-top: 5rem;
    margin-bottom: 3rem;
    /* border: 1px solid #000; */
  }

  .intro {
    padding-left: 0.5rem;
  }

  .note-body {
    margin-top: 1rem;
    /* border: 1px solid red; */
    height: auto;
    width: 300px;
    font-size: 18px;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
  }

  .btn-drt button {
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: aliceblue;
    color: rgb(44, 44, 44);
    border: none;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }

  .logo {
    height: 40px;
    width: 30px;
    /* border: 1px solid black; */
    margin-top: 0;
    visibility: visible;
    margin-left: 0.5rem;
  }

  .logo img {
    background: none;
    width: 35px;
    /* filter: hue-rotate(50%); */
  }

  .text-content {
    /* border: 1px solid black; */
    height: auto;
    width: auto;
    font-size: 15px;
    font-weight: 400;
    color: rgb(61, 61, 61);
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }

  .text-content:hover {
    color: black;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col--9 {
    width: 74.99%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
