* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* line-height: 1.5; */
}
.cnt-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
  color: #7a7a7a;
  /* border: 1px solid #000; */
  font-weight: 600;
  padding-bottom: 15px;
  font-size: 10px;
}
.c-ti {
  height: auto;
  width: auto;
}
.c-ti-v p {
  height: auto;
  width: auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.head-1-p-container {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  position: fixed;
  z-index: 1000;
  will-change: box-shadow;
  background-color: white;
}

.prime {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  border-bottom: none;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  border-bottom: 1px solid gainsboro;
}

.head-1-p {
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
}

.logo-c {
  display: flex;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
}

.nam-con {
  height: auto;
  display: flex;
  padding-left: 75px;
  /* border: 1px solid orange; */
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.name-1 {
  height: auto;
  width: auto;
  font-size: 30px;
  font-weight: 700;
  color: gray;
  /* border: 1px solid darkgray; */
}

.name-2 {
  height: auto;
  width: auto;
  font-size: 30px;
  font-weight: 700;
  color: red;
  /* border: 1px solid darkgray; */
}

.btn-me {
  height: auto;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid black; */
}

.profile {
  border: none;
  background-color: gray;
  height: 34px;
  width: 34px;
  border-radius: 50px;
  /* border: 1px solid black; */
}

.profile:hover {
  background-color: rgb(100, 100, 100);
  /* border: 1px solid crimson; */
}

.btn-me img {
  height: 20px;
  width: 25px;
  /* border: 1px dashed rgb(187, 187, 187); */
}

.menu-tab {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  height: auto;
  /* border: 1px solid #101010; */
  align-items: center;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
}

.m-tab1 {
  display: flex;
  height: 3rem;
  justify-content: start;
  /* border: 1px solid blue; */
  flex-wrap: wrap;
  overflow: hidden auto;
}

.m1 {
  height: auto;
  /* border: 1px solid darkgray; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-weight: 600;
  text-decoration: none;
}
/* .m1:hover {
  border-bottom: 2px solid rgb(20, 111, 247);
} */
.m1 a {
  height: auto;
  /* border: 1px solid darkgray; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-weight: 600;
  text-decoration: none;
}

.m1 a:hover,
:focus {
  background-color: transparent;
  /* background: linear-gradient(to top, #faf9f6, #ffffff); */
  /* color: rgb(20, 111, 247); */
  color: red;
  cursor: pointer;
  /* transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out linear; */
  /* border-bottom: 2px solid crimson; */
  /* padding-bottom: 1px; */
  /* border-bottom: 1px solid rgb(20, 111, 247); */
}

.m-tab2 {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
}

.m5-p {
  height: auto;
  /* border: 1px solid brown; */
  display: flex;
  justify-content: flex-end;
}

.fsearch {
  position: relative;
  transition: all 0.5s;
  width: 34px;
  height: 34px;
  background-color: gray;
  box-sizing: border-box;
  border-radius: 30px;
  padding-right: 0;
  margin-right: 0;
  border: none;
}

.fsearch input {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 92%;
  height: 30px;
  line-height: 19.5px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 13px;
  border-radius: 25px;
  font-weight: 400;
  padding: 0px 10px;
  font-weight: 300;
  /* background-color: red; */
}

.fsearch input[type="search"]::-webkit-search-cancel-button {
  background-color: transparent;
  outline: 1px solid gainsboro;
  border: 1px solid gainsboro;
  -webkit-appearance: none;
  border-radius: 25px;
}

.fsearch input::placeholder {
  color: rgb(160, 160, 160);
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
}

.fsearch .fa-solid {
  box-sizing: border-box;
  padding: 5px;
  width: 26px;
  height: 25px;
  position: absolute;
  top: 7.5px;
  right: 1px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  transition: all 0.3s;
  /* text-align: justify; */
}

.fsearch:hover,
.fsearch:valid {
  width: 280px;
  cursor: pointer;
  border: 1px solid gainsboro;
  background-color: #faf9f6;
}

.fsearch:hover input,
.fsearch:valid input {
  display: inline;
  background-color: transparent;
  color: #2c2c2c;
  text-decoration: none;
}

.fsearch:hover .fa-solid,
.fsearch:valid .fa-solid {
  background: transparent;
  color: #000;
  size: 10px;
}

.fsearch:focus,
.fsearch:valid {
  width: 300px;
  cursor: pointer;
  border: 1px solid gainsboro;
  background-color: #faf9f6;
  /* box-shadow: 1px 1px 5px 1px solid black; */
}

.fsearch:focus input,
.fsearch:valid input {
  display: flexbox;
  text-decoration: none;
  cursor: text;
}

.fsearch:focus .fa-solid,
.fsearch:valid .fa-solid {
  /* background-color: rgb(20, 111, 247); */
  background-color: red;
  color: #fff;
  top: 2.5px;
  right: 3px;
  padding-top: 8.5px;
  padding-left: 9px;
  height: 27px;
  width: 27px;
  /* font-weight: bold; */
}

.fsearch a {
  display: none;
  visibility: hidden;
}

.fsearch:valid a {
  display: flex;
  /* border: 1px solid black; */
}

.c-top-g {
  height: auto;
  /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.p-top-g {
  height: auto;
  width: auto;
  /* border: 1px solid darkred; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.top-g-1,
.top-g-2,
.top-g-x {
  display: flex;
  height: 280px;
  width: 47%;
  /* border: 1px solid red; */
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1;
}
/* .top-g-1,
.top-g-2,
.top-g-x :hover {
  cursor: pointer;
} */

/* .t-layout-cnt {
  border: 1px solid white;
} */
/* .capture-p {
  border: 1px solid white;
} */

.eye-view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  height: 100%;
  /* border: 1px solid white; */
}

.brk-n-cont {
  /* border: 1px solid white; */
  padding-left: 15px;
}

/* .brk-n {
  border: 1px solid white;
} */

.cap-view {
  /* border: 1px solid orange; */
  padding: 6px 10px;
}
.top-g-1 {
  background: linear-gradient(0deg, #000 0%, transparent 100%),
    url(Electricity-Distribution.webp);
  width: 47%;
  height: 280px;
  left: 0;
  right: 0;
  overflow: hidden;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 10px;
}
.top-g-2 {
  background: linear-gradient(0deg, #000 0%, transparent 100%),
    url(Spacex-2.jpg);
  width: 47%;
  height: 280px;
  left: 0;
  right: 0;
  overflow: hidden;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 10px;
}

.top-g-x {
  background: linear-gradient(0deg, #000 0%, transparent 100%), url(food.jpeg),
    white 50%;
  width: 97%;
  height: 250px;
  left: 0;
  right: 0;
  overflow: hidden;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 10px;
}

.ads-y {
  height: 580px;
  width: 150px;
  background-color: rgb(233, 232, 232);
  font-size: 11.5px;
  color: #2c2c2c;
  border-radius: 2px;
  padding: 5px 10px;
  font-weight: 600;
  /* border: 1px solid #000; */
}

.sub-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 70px;
  padding-bottom: 50px;
  /* border: 1px solid #000; */
  background: linear-gradient(to bottom, #faf9f6, #ffffff);
  /* background-color: #faf9f6; */
}

.sub-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.q-div-box {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
}
.q-div-box .fa-solid {
  color: gray;
  font-size: 50px;
}

.h-link {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 100px;
  margin-bottom: 0px;
}
.hot {
  /* border: 1px solid black; */
  border-left: 4px solid red;
  display: flex;
  align-items: center;
  height: 25px;
  font-size: 25px;
  font-weight: 600;
  padding-left: 15px;
  color: red;
}

.test-trap-c {
  /* border: 1px solid #010; */
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-traps {
  display: inline-block;
  height: auto;
  /* border: 1px solid purple; */
  padding-top: 0;
  overflow-x: auto;
  white-space: nowrap;
}

.t-1 {
  height: auto;
  width: 150px;
  /* border: 1px solid gold; */
  display: inline-flex;
  flex-wrap: wrap;
}
.t-1 img {
  border-radius: 2px;
  transition: filter 0.2s ease-in-out;
}

.t-1-img-box :hover {
  /* opacity: 0.95; */
  filter: brightness(0.9);
}

@supports (-webkit-line-clamp: 2) {
  .t-1-text-box p {
    margin-top: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    width: 100%;
    color: #141414;
    text-wrap: wrap;
    font-size: 11.5px;
    text-align: left;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid purple; */
    height: 35px;
  }
}
.m-slide-c {
  height: auto;
  /* border: 1px solid green; */
  display: flex;
  width: 47%;
  padding: 8px 12px;
  transition: filter 0.2s ease-in-out;
}
.m-slide-c :hover {
  filter: brightness(0.9);
}
.m-s-text-bx {
  height: auto;
  display: block;
  width: 65%;
  padding-right: 10px;
  /* border: 1px solid black; */
  flex-wrap: wrap;
}

.m-s-text-bx p {
  height: 50px;
  margin-top: 2px;
  width: 100%;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
  font-size: 11.5px;
  color: #141414;
  border: 1px solid transparent;
}

.m-s-img-bx img {
  height: 138px;
  width: 100%;
  border-radius: 2px;
}
.central-time-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  font-weight: 700;
  /* border: 1px solid green; */
  height: auto;
  width: 100%;
  padding-top: 15px;
  color: rgb(255, 32, 32);
}

.central-time {
  height: auto;
  width: auto;
  font-size: 8px;
  /* border: 1px solid black; */
}
.see-xsm {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
.see-xsm a {
  text-decoration: none;
  color: red;
}

.ads-y-2-p {
  /* border: 1px solid orange; */
  height: auto;
  display: flex;
  justify-content: center;
}

.ads-y-2 {
  height: 150px;
  border-radius: 2px;
  width: 81.5%;
  padding: 6px 12px;
  background-color: rgb(233, 232, 232);
  font-size: 11.5px;
  color: #2c2c2c;
  font-weight: 600;
  /* border: 1px solid blue; */
}

.c-link {
  /* border: 1px solid purple; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}
.category {
  display: flex;
  align-items: center;
  /* border: 1px solid purple; */
  border-left: 4px solid red;
  height: 25px;
  font-size: 25px;
  font-weight: 600;
  padding-left: 15px;
  color: red;
}

.block-1 {
  background-color: #ffffff;
  color: gray;
  font-weight: 600;
  height: 230px;
  border-radius: 5.5px;
  text-align: center;
  /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
  /* rgba(0, 0, 0, 0.4)*/
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  z-index: 1;
  padding-top: 10px;
  /* border: 1px solid blue; */
}
.block-2 {
  background-color: #ffffff;
  color: gray;
  font-weight: 600;
  height: 230px;
  border-radius: 5.5px;
  /* width: 30%; */
  text-align: center;
  /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
  /* rgba(0, 0, 0, 0.4)*/
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  z-index: 1;
  padding-top: 10px;
  /* border: 1px solid blue; */
}
.block-3 {
  background-color: #ffffff;
  height: 230px;
  border-radius: 5.5px;
  /* width: 30%; */
  text-align: center;
  color: gray;
  font-weight: 600;
  /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
  /* rgba(0, 0, 0, 0.4)*/
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  z-index: 1;
  padding-top: 10px;
  /* border: 1px solid blue; */
}
.block-4 {
  background-color: #ffffff;
  color: gray;
  font-weight: 600;
  height: 230px;
  border-radius: 5.5px;
  /* width: 30%; */
  text-align: center;
  /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
  /* rgba(0, 0, 0, 0.4)*/
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  z-index: 1;
  padding-top: 10px;
  /* border: 1px solid blue; */
}
.block-5 {
  background-color: #ffffff;
  height: 230px;
  border-radius: 5.5px;
  /* width: 30%; */
  text-align: center;
  color: gray;
  font-weight: 600;
  /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
  /* rgba(0, 0, 0, 0.4)*/
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  z-index: 1;
  padding-top: 10px;
  /* border: 1px solid blue; */
}
.block-6 {
  background-color: #ffffff;
  color: gray;
  font-weight: 600;
  height: 230px;
  border-radius: 5.5px;
  /* width: 30%; */
  text-align: center;
  /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
  /* rgba(0, 0, 0, 0.4)*/
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  z-index: 1;
  padding-top: 10px;
  /* border: 1px solid blue; */
}
.block-7 {
  background-color: #ffffff;
  color: gray;
  font-weight: 600;
  height: 230px;
  border-radius: 5.5px;
  /* width: 30%; */
  text-align: center;
  /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
  /* rgba(0, 0, 0, 0.4)*/
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  z-index: 1;
  padding-top: 10px;
  /* border: 1px solid blue; */
}
.block-8 {
  background-color: #ffffff;
  height: 230px;
  border-radius: 5.5px;
  /* width: 30%; */
  text-align: center;
  color: gray;
  font-weight: 600;
  /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
  /* rgba(0, 0, 0, 0.4)*/
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  z-index: 1;
  padding-top: 10px;
  /* border: 1px solid blue; */
}

footer {
  margin-top: 4rem;
  padding-top: 2rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  /* border: 1px solid black; */
}
.p-images {
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-images {
  height: auto;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  font-size: 20px;
  /* border: 1px solid black; */
}
.fb,
.tt,
.yt {
  color: #353535;
}
.insta {
  font-weight: 700;
  color: #272727;
}
.links a {
  color: gray;
  font-size: 18px;
  font-weight: 700;
  /* border: 1px solid black; */
}

.links {
  display: flex;
  gap: 25px;

  padding-top: 12px;
  text-decoration: none;
  /* border: 1px solid red; */
}
.links a:hover {
  text-decoration: underline;
  cursor: pointer;
  /* color: rgb(20, 111, 247); */
  color: red;
}

.copywrite {
  color: gray;
  font-size: 14px;
  font-weight: 700;
  /* border: 1px solid black; */
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.company {
  height: auto;
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  /* border: 1px solid olive; */
}

.company p {
  margin-left: 45px;
  color: rgb(32, 32, 32);
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  /* border: 1px solid black; */
}

.col-xl-1 {
  width: 8.33%;
}
.col-xl-0_5 {
  width: 3.66%;
}
.col-xl-2 {
  width: 16.66%;
}
.col-xl-3 {
  width: 25%;
}
.col-xl-lg {
  width: 33.33%;
}
.col-xl-5 {
  width: 41.66%;
}
.col-xl-6 {
  width: 50%;
}
.col-xl-7 {
  width: 58.33%;
}
.col-xl-8 {
  width: 66.66%;
}
.col-xl-9 {
  width: 74.99%;
}
.col-xl-10 {
  width: 83.33%;
}
.col-xl-11 {
  width: 91.66%;
}
.col-xl-12 {
  width: 100%;
}

/* mobile */
@media (max-width: 600px) {
  .scroll-shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .prime {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0px;
    /* border: 1px solid blue; */
  }

  .head-1-p {
    height: 4.5rem;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 1px solid blue; */
    padding-left: 0;
  }

  .heminbox {
    background-color: transparent;
    color: gray;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
    padding: 0;
    /* border: 1px solid seagreen; */
  }

  .logo-c {
    display: flex;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: flex-start;
    gap: 3px;
  }

  .nam-con {
    justify-content: start;
    padding-left: 0;
  }

  .profile {
    border: none;
    background-color: gray;
    height: 34px;
    width: 34px;
    border-radius: 50px;
    /* border: 1px solid darkgray; */
  }

  .menu-tab {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 4.5rem;
    /* border: 1px solid red; */
  }

  .m-tab1 {
    display: inline-block;
    height: 3rem;
    padding-top: 10px;
    padding-left: 0;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    mask-image: linear-gradient(to right, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 85%, transparent 100%);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
  }

  .m-tab1::-webkit-scrollbar {
    display: none;
  }

  .m1 {
    height: auto;
    width: auto;
    display: inline-flex;
    align-items: center;
    margin-right: 40px;
    justify-content: start;
    color: gray;
    font-weight: 600;
    text-decoration: none;
  }

  .m1 a {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.7px;
  }

  .m1:hover {
    background: none;
    text-decoration: none;
    color: red;
    cursor: pointer;
    letter-spacing: 0.3px;
  }
  .m1 a.active {
    color: red;
  }

  .m-tab2 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    /* border: 1px solid green; */
    position: relative;
  }

  .m5-p {
    height: auto;
    /* border: 1px solid brown; */
    color: gray;
    font-weight: 600;
    display: flex;
    padding-top: 10px;
    padding-right: 0;
    justify-content: center;
  }

  .fsearch {
    width: 90%;
    height: 43px;
    background: white;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 0;
    margin-right: 0;
    padding-top: 0;
    box-shadow: 0px 1px 5px 0px gainsboro;
  }

  .fsearch input {
    top: 0;
    left: 0;
    width: 88%;
    height: 38px;
    line-height: 20px;
    outline: 0;
    display: block;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 8px;
    background-color: white;
    /* border: 1px solid #141414; */
  }

  .fsearch input::placeholder {
    color: rgb(160, 160, 160);
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
  }

  .fsearch .fa-solid {
    /* padding: 5px; */
    position: absolute;
    margin-right: 2px;
    border-radius: 7px;
    font-size: 12px;
    transition: all-out 0.3s;
    background-color: gray;
    color: #fff;
    height: 35px;
    width: 35px;
    border: none;
    top: 4.4px;
    padding-top: 11px;
    padding-left: 12px;
    padding-bottom: 0;
    padding-right: 0;
    right: 1.5px;
  }

  .fsearch:hover,
  .fsearch:valid {
    width: 90%;
    cursor: pointer;
    border: none;
    background-color: white;
  }

  .fsearch:hover input,
  .fsearch:valid input {
    top: 0;
    top: 0;
    left: 0;
    width: 88%;
    height: 38px;
    line-height: 20px;
    outline: 0;
    display: block;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 8px;
    background-color: white;
  }
  .fsearch:focus input,
  .fsearch:valid input {
    display: flexbox;
  }
  .fsearch:hover .fa-solid,
  .fsearch:valid .fa-solid {
    background-color: gray;
    color: white;
    height: 35px;
    width: 35px;
    border: none;
    top: 4.4px;
    right: 1.5px;
  }

  .fsearch:focus .fa-solid,
  .fsearch:valid .fa-solid {
    position: absolute;
    margin-right: 2px;
    border-radius: 6px;
    font-size: 12px;
    transition: all-out 0.3s;
    background-color: gray;
    color: #fff;
    height: 35px;
    width: 35px;
    border: none;
    top: 4.4px;
    padding-top: 11px;
    padding-left: 12px;
    padding-bottom: 0;
    padding-right: 0;
    right: 1.5px;
  }

  .fsearch:focus,
  .fsearch:valid {
    width: 90%;
    border: none;
    background-color: white;
    padding-top: 0;

    /* box-shadow: 0px 1px 2px 0px darkgray; */
  }

  .c-top-g {
    height: auto;
    /* border: 1px solid orangered; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .p-top-g {
    height: auto;
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }

  .top-g-1,
  .top-g-2,
  .top-g-x,
  .top-g-xs {
    height: 300px;
    padding-right: 5px;
    padding-bottom: 15px;
    /* border: 1px solid #000; */
  }
  .eye-view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-top: 2.5px;
    padding-right: 0;
    /* border: 1px solid white; */
  }
  /* .t-layout span {
    width: 70%;
    border: 1px solid white;
  } */
  .brk-n-cont {
    /* border: 1px solid white; */
    padding-left: 15px;
  }
  .ads-y {
    height: 100px;
    border-radius: 2px;
    padding: 6px 12px;
    /* border: 1px solid blue; */
  }

  .ads-y-2 {
    height: 150px;
  }

  .block-1 {
    background-color: #ffffff;
    height: 150px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    padding-top: 8px;
  }
  .block-2 {
    background-color: #ffffff;
    height: 150px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    padding-top: 8px;
  }
  .block-3 {
    background-color: #ffffff;
    border-radius: 5.5px;
    height: 150px;
    /* width: 30%; */
    text-align: center;
    padding-top: 8px;
  }
  .block-4 {
    background-color: #ffffff;
    height: 150px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    padding-top: 8px;
  }
  .block-5 {
    background-color: #ffffff;
    height: 150px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    padding-top: 8px;
  }
  .block-6 {
    background-color: #ffffff;
    height: 150px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    padding-top: 8px;
  }
  .block-7 {
    background-color: #ffffff;
    height: 150px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    padding-top: 8px;
  }
  .block-8 {
    background-color: #ffffff;
    height: 150px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    padding-top: 8px;
  }

  .qdb-parent {
    width: 100%;
    height: 70%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }

  .sub-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    background: transparent;
    /* border: 1px solid green; */
  }

  .h-link {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .hot {
    /* border: 1px solid black; */
    border-left: 0;
    padding-left: 0;
  }

  .t-1 {
    height: auto;
    width: 180px;
    /* border: 1px solid orange; */
    display: inline-flex;
    margin-right: 20px;
    align-items: center;
    justify-content: start;
  }

  .test-trap-c {
    /* border: 1px solid #010; */
    display: flex;
    padding-left: 8px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    height: auto;
    justify-content: center;
  }

  .test-traps {
    display: inline-block;
    height: auto;
    width: 82%;
    /* border: 1px solid purple; */
    padding-left: 0;
    padding-bottom: 25px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .t-1-img-box {
    height: 125px;
    width: 100%;
    /* border: 1px solid #000; */
  }
  .t-1-img-box img {
    height: 112px;
    width: 100%;
  }

  .t-1-text-box {
    height: auto;
    width: 100%;
    /* border: 1px solid #000; */
    flex-wrap: wrap;
  }
  .t-1-text-box h4 {
    height: auto;
    width: 100%;
    text-wrap: wrap;
    /* border: 1px solid #000; */
    color: #2c2c2c;
  }
  .t-1-text-box p {
    visibility: hidden;
    /* border: 1px solid #000; */
  }

  .c-link {
    /* border: 1px solid purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .category {
    display: flex;
    align-items: center;
    border-left: 0;
    height: 25px;
    font-size: 25px;
    font-weight: 600;
    padding-left: 0;
    color: red;
  }

  .sub-container {
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-left: 0;
  }

  .see-xsm {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-top: 0;
  }
  .see-xsm a {
    text-decoration: none;
    color: red;
    border-radius: 18px;
    font-size: 13px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9.5px;
    background-color: rgba(255, 116, 116, 0.075);
  }

  .spec_slide-parent {
    height: auto;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    padding-top: 2rem;
    justify-content: center;
  }

  .spec_slide-container {
    height: auto;
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .m-slide-c {
    height: auto;
    border-bottom: 1px dashed gainsboro;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-bottom: 15px;
  }

  .m-s-img-bx {
    display: flex;
    margin-top: 2px;
    align-items: center;
    height: 70%;
    width: 35%;
    /* border: 1px solid orange; */
  }
  .m-s-text-bx {
    height: auto;
    display: block;
    width: 65%;
    padding-right: 8px;
    /* border: 1px solid black; */
    flex-wrap: wrap;
  }

  .m-s-img-bx img {
    height: 90px;
    width: 100%;
    border-radius: 2px;
  }
  .m-s-text-bx h4 {
    color: #2c2c2c;
    margin-top: -1px;
  }
  .m-s-text-bx p {
    height: 31px;
    margin-top: 2px;
    width: 100%;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    font-size: 11.5px;
    color: #141414;
    /* border: 1px solid purple; */
  }

  .i-images {
    height: auto;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    font-size: 18px;
    /* border: 1px solid black; */
  }
  .links p:hover {
    text-decoration: underline;
    cursor: pointer;
    /* color: rgb(20, 111, 247); */
    color: red;
  }
  .bix {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
  }

  .back-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 35%;
    right: 33px;
    display: none;
    /* background-color: red; */
    background: rgba(34, 35, 37, 0.5);
    backdrop-filter: blur(2px);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 13px;
    font-size: 12px;
    font-weight: 700;
    /* z-index: 1000; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 74.99%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/*Tablets*/
@media (min-width: 600px) and (max-width: 992px) {
  .scroll-shadow {
    box-shadow: 0 4px 10px rgba(34, 34, 34, 0.1);
  }
  .prime {
    z-index: 1;
    /* box-shadow: 1px 1px 5px 0 gainsboro; */
    display: flex;
    flex-wrap: wrap;
    height: auto;
    /* border: 1px solid black; */
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0px;
  }

  .head-1-p {
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    /* border: 1px solid blue; */
    padding-left: 0;
  }

  .menu-tab {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5rem;
    /* border: 1px solid red; */
  }

  .m-tab1 {
    display: inline-block;
    height: 3rem;
    padding-top: 10px;
    padding-left: 0;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    mask-image: linear-gradient(to right, black 80%, transparent 93%);
    -webkit-mask-image: linear-gradient(to right, black 80%, transparent 93%);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
  }
  .m-tab1::-webkit-scrollbar {
    display: none;
  }

  .m1 {
    height: auto;
    width: fit-content;
    /* border: 1px solid orange; */
    display: inline-flex;
    align-items: center;
    margin-right: 40px;
    justify-content: flex-start;
    color: gray;
    font-weight: 600;
    text-decoration: none;
  }
  .m1 a {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.7px;
  }
  .m1:hover {
    background: none;
    text-decoration: none;
    color: red;
    cursor: pointer;
    letter-spacing: 0.3px;
  }
  .m1 a.active {
    color: red;
  }

  .m-tab2 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    /* border: 1px solid green; */
    position: relative;
  }

  .m5-p {
    height: auto;
    /* border: 1px solid blue; */
    display: flex;
    padding-top: 0;
    padding-right: 0;
    justify-content: end;
  }

  .fsearch {
    width: 90%;
    height: 43px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    padding-left: 0;
    margin-right: 0;
    padding-top: 0;
    box-shadow: 0px 1px 5px 0px gainsboro;
    /* border: 1px solid black; */
  }

  .fsearch input {
    top: 0;
    left: 0;
    width: 88%;
    height: 38px;
    line-height: 20px;
    outline: 0;
    display: block;
    font-size: 15px;
    border-radius: 25px;
    padding-top: 2px;
    padding-left: 12px;
    padding-right: 8px;
    background-color: transparent;
    /* border: 1px solid #141414; */
  }

  .fsearch input::placeholder {
    color: rgb(160, 160, 160);
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
  }

  .fsearch .fa-solid {
    position: absolute;
    margin-right: 2px;
    border-radius: 25px;
    font-size: 12px;
    transition: all-out 0.3s;
    background-color: gray;
    color: #fff;
    height: 35px;
    width: 35px;
    border: none;
    top: 4.4px;
    padding-top: 11px;
    padding-left: 12px;
    padding-bottom: 0;
    padding-right: 0;
    right: 1.5px;
  }

  .fsearch:hover,
  .fsearch:valid {
    width: 90%;
    cursor: pointer;
    border: none;
    background-color: white;
  }

  .fsearch:hover input,
  .fsearch:valid input {
    top: 0;
    top: 0;
    left: 0;
    width: 88%;
    height: 38px;
    line-height: 20px;
    outline: 0;
    display: block;
    font-size: 15px;
    border-radius: 25px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 8px;
    background-color: white;
  }
  .fsearch:focus input,
  .fsearch:valid input {
    display: flexbox;
    background-color: #ffffff;
  }
  .fsearch:hover .fa-solid,
  .fsearch:valid .fa-solid {
    background-color: gray;
    color: white;
    height: 35px;
    width: 35px;
    border: none;
    top: 4.4px;
    right: 1.5px;
  }

  .fsearch:focus .fa-solid,
  .fsearch:valid .fa-solid {
    position: absolute;
    margin-right: 2px;
    border-radius: 25px;
    font-size: 12px;
    transition: all-out 0.3s;
    background-color: gray;
    color: #fff;
    height: 35px;
    width: 35px;
    border: none;
    top: 4.4px;
    padding-top: 11px;
    padding-left: 12px;
    padding-bottom: 0;
    padding-right: 0;
    right: 1.5px;
  }

  .fsearch:focus,
  .fsearch:valid {
    width: 90%;
    border: none;
    background-color: #ffffff;
    padding-top: 0;

    /* box-shadow: 0px 1px 2px 0px darkgray; */
  }

  .logo-c {
    display: flex;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
  }

  .c-top-g {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    padding-bottom: 25px;
  }
  .p-top-g {
    height: auto;
    /* border: 1px solid darkred; */
    display: flex;
    gap: 15px;
    padding: 0;
    margin-bottom: 40px;
  }

  .top-g-1,
  .top-g-2,
  .top-g-x {
    /* border: 1px solid gold; */
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
  }
  .top-g-1 {
    background: linear-gradient(0deg, #000 0%, transparent 100%),
      url(Electricity-Distribution.webp);
    width: 40%;
    height: 280px;
    left: 0;
    right: 0;
    overflow: hidden;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 10px;
  }
  .top-g-2 {
    background: linear-gradient(0deg, #000 0%, transparent 100%),
      url(Spacex-2.jpg);
    width: 41%;
    height: 280px;
    left: 0;
    right: 0;
    overflow: hidden;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 10px;
  }

  .top-g-x {
    background: linear-gradient(0deg, #000 0%, transparent 100%), url(food.jpeg),
      white 50%;
    height: 270px;
    width: 83.55%;
    left: 0;
    right: 0;
    overflow: hidden;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 10px;
  }

  .ads-y {
    height: 200px;
    background-color: rgb(233, 232, 232);
    font-size: 11.5px;
    color: #2c2c2c;
    border-radius: 2px;
    padding: 15px 25px;
    font-weight: 600;
    /* border: 1px solid #000; */
  }

  .t-1 {
    height: 200px;
    width: 180px;
    /* border: 1px solid orange; */
    display: inline-flex;
    margin-right: 20px;
    align-items: center;
    justify-content: start;
  }

  .test-trap-c {
    /* border: 1px solid #010; */
    display: flex;
    padding-left: 8px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
    justify-content: center;
  }

  .test-traps {
    display: inline-block;
    height: auto;
    width: 82%;
    /* border: 1px solid purple; */
    padding-left: 0;
    padding-bottom: 50px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .t-1-img-box {
    height: 125px;
    width: 100%;
    /* border: 1px solid #000; */
  }
  .t-1-img-box img {
    height: 120px;
    width: 100%;
  }

  .t-1-text-box {
    height: auto;
    width: 100%;
    /* border: 1px solid #000; */
    flex-wrap: wrap;
  }
  .t-1-text-box h4 {
    height: auto;
    width: 100%;
    text-wrap: wrap;
    /* border: 1px solid #000; */
    color: #2c2c2c;
  }
  .t-1-text-box p {
    height: auto;
    text-wrap: wrap;
    width: 100%;
    color: #2c2c2c;
    font-size: 13px;
    /* border: 1px solid #000; */
  }

  .sub-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    /* border: 1px solid red; */
    background-color: #faf9f6;
  }

  .sub-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .c-link {
    /* border: 1px solid purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .category {
    display: flex;
    align-items: center;
    border-left: 4px solid red;
    height: 25px;
    font-size: 25px;
    font-weight: 600;
    padding-left: 15px;
    color: red;
  }

  .see-xsm {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-top: 0;
  }
  .see-xsm a {
    text-decoration: none;
    color: red;
    border-radius: 18px;
    font-size: 13px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9.5px;
    background-color: rgba(255, 116, 116, 0.075);
  }

  .spec_slide-parent {
    height: auto;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    padding-top: 2rem;
    justify-content: center;
  }

  .spec_slide-container {
    height: auto;
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .m-slide-c {
    height: auto;
    border-bottom: 1px dashed gainsboro;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-bottom: 0.5rem;
  }

  .m-s-img-bx {
    display: flex;
    margin-top: 0;
    align-items: center;
    height: 80%;
    width: 35%;
    /* border: 1px solid orange; */
  }
  .m-s-text-bx p {
    height: 50px;
    margin-top: 2px;
    width: 100%;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    font-size: 11.5px;
    color: #141414;
    /* border: 1px solid purple; */
  }
  .m-s-text-bx {
    height: auto;
    display: block;
    width: 65%;
    padding-right: 10px;
    /* border: 1px solid black; */
    margin-bottom: 25px;
    flex-wrap: wrap;
  }

  .m-s-img-bx img {
    height: 120px;
    width: 100%;
    border-radius: 2px;
  }

  .m-s-text-bx h4 {
    color: #2c2c2c;
    margin-top: -2px;
  }

  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Pc */
@media (min-width: 992px) and (max-width: 2000px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .c-ti-v p {
    height: auto;
    width: auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .head-1-p-container {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    position: fixed;
    z-index: 2;
    background-color: white;
  }
  .menu-tab {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    /* border: 1px solid #101010; */
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 5rem;
  }

  .prime {
    z-index: 1;
    /* box-shadow: 1px 1px 5px 0 gainsboro; */
    display: flex;
    flex-wrap: wrap;
    height: auto;
    border-bottom: none;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gainsboro;
  }

  .sub-parent {
    display: block;
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    /* border: 1px solid peru; */
    background-color: #faf9f6;
  }

  .h-link {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .hot {
    /* border: 1px solid black; */
    border-left: 4px solid red;
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 25px;
    font-weight: 600;
    padding-left: 15px;
    color: red;
  }

  .test-trap-c {
    /* border: 1px solid #010; */
    display: flex;
    padding-left: 8px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
    justify-content: center;
  }

  .test-traps {
    display: inline-block;
    height: auto;
    width: 82%;
    /* border: 1px solid purple; */
    padding-left: 0;
    overflow-x: auto;
    margin-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
  }

  .t-1 {
    margin-top: 0;
    margin-bottom: 20px;
    height: 250px;
    margin-right: 0;
    padding: 8px 12px;
    /* border: 1px solid orange; */
    width: 230px;
    cursor: default;
  }

  .t-1-img-box {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    /* border: 1px solid #000; */
  }
  .t-1-img-box :hover {
    filter: brightness(0.9);
    /* opacity: 0.95; */
  }
  .t-1-img-box img {
    height: 120px;
    width: 100%;
    border-radius: 2px;
    transition: filter 0.3s ease;
  }

  .t-1-text-box {
    display: block;
    height: 120px;
    width: 100%;
    /* border: 1px solid #000; */
    position: relative;
  }
  .t-1-text-box h4 {
    padding-bottom: 8px;
    padding-top: 5px;
    height: auto;
    width: 100%;
    text-wrap: wrap;
    /* border: 1px solid #000; */
    color: #2c2c2c;
  }

  @supports (-webkit-line-clamp: 2) {
    .t-1-text-box p {
      margin-top: 2px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      width: 100%;
      color: #141414;
      text-wrap: wrap;
      font-size: 11.5px;
      text-align: left;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      /* border: 1px solid purple; */
      height: 35px;
    }
  }
  .see-xsm {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000; */
  }
  .see-xsm a {
    text-decoration: none;
    color: red;
  }

  .spec_slide-parent {
    height: auto;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    padding-top: 2rem;
    justify-content: center;
  }

  .spec_slide-container {
    height: auto;
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 2rem;
  }

  .m-slide-c {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    width: 47%;
    padding: 8px 12px;
    transition: filter 0.2s ease-in-out;
  }
  .m-slide-c :hover {
    filter: brightness(0.9);
  }

  .m-s-img-bx {
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    /* border: 1px solid orange; */
  }
  .m-s-text-bx {
    height: 145px;
    display: block;
    width: 43%;
    padding-left: 12px;
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
  }

  .m-s-img-bx img {
    height: 138px;
    width: 100%;
    border-radius: 2px;
    transition: filter 0.2s ease-in-out;
  }

  .m-s-text-bx h4 {
    height: auto;
    width: auto;
    color: #2c2c2c;
    margin-top: -5px;
    /* border: 1px solid black; */
  }
  .central-time-container {
    visibility: hidden;
  }

  /* .m-s-text-bx p {
    height: 33px;
    margin-top: 2px;
    width: 99.5%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    font-size: 11.5px;
    color: #141414;
    text-overflow: ellipsis;
    border: 1px solid purple;
  } */

  @supports (-webkit-line-clamp: 2) {
    .m-s-text-bx p {
      margin-top: 2px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      width: 100%;
      color: #141414;
      font-size: 11.5px;
      text-align: left;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      /* border: 1px solid purple; */
      height: 35px;
    }
  }

  .sub-container {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    gap: 40px;
    padding-left: 10px;
  }

  .m1 {
    height: auto;
    /* border: 1px solid gray; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-weight: 600;
    text-decoration: none;
  }

  .category {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    border-left: 4px solid red;
    height: 25px;
    font-size: 25px;
    font-weight: 600;
    padding-left: 15px;
    color: red;
  }
  .block-1 {
    background-color: #ffffff;
    color: gray;
    font-weight: 600;
    height: 230px;
    border-radius: 5.5px;
    text-align: center;
    /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
    /* rgba(0, 0, 0, 0.4)*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    z-index: 1;
    padding-top: 10px;
    /* border: 1px solid blue; */
  }
  .block-2 {
    background-color: #ffffff;
    color: gray;
    font-weight: 600;
    height: 230px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
    /* rgba(0, 0, 0, 0.4)*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    z-index: 1;
    padding-top: 10px;
    /* border: 1px solid blue; */
  }
  .block-3 {
    background-color: #ffffff;
    height: 230px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    color: gray;
    font-weight: 600;
    /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
    /* rgba(0, 0, 0, 0.4)*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    z-index: 1;
    padding-top: 10px;
    /* border: 1px solid blue; */
  }
  .block-4 {
    background-color: #ffffff;
    color: gray;
    font-weight: 600;
    height: 230px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
    /* rgba(0, 0, 0, 0.4)*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    z-index: 1;
    padding-top: 10px;
    /* border: 1px solid blue; */
  }
  .block-5 {
    background-color: #ffffff;
    height: 230px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    color: gray;
    font-weight: 600;
    /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
    /* rgba(0, 0, 0, 0.4)*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    z-index: 1;
    padding-top: 10px;
    /* border: 1px solid blue; */
  }
  .block-6 {
    background-color: #ffffff;
    color: gray;
    font-weight: 600;
    height: 230px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
    /* rgba(0, 0, 0, 0.4)*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    z-index: 1;
    padding-top: 10px;
    /* border: 1px solid blue; */
  }
  .block-7 {
    background-color: #ffffff;
    color: gray;
    font-weight: 600;
    height: 230px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
    /* rgba(0, 0, 0, 0.4)*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    z-index: 1;
    padding-top: 10px;
    /* border: 1px solid blue; */
  }
  .block-8 {
    background-color: #ffffff;
    height: 230px;
    border-radius: 5.5px;
    /* width: 30%; */
    text-align: center;
    color: gray;
    font-weight: 600;
    /* box-shadow: 0px 3px 4px 1px rgba(54, 54, 54, 0.336);* */
    /* rgba(0, 0, 0, 0.4)*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    z-index: 1;
    padding-top: 10px;
    /* border: 1px solid blue; */
  }

  .qdb-parent {
    width: 100%;
    height: 70%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }
  .q-div-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
  }
  .q-div-box .fa-solid {
    color: gray;
    font-size: 50px;
    /* border: 1px solid black; */
  }

  .m1-s {
    padding-left: 15px;
    /* border: 1px solid orangered; */
  }

  .bix {
    height: auto;
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    display: none;
  }

  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-lg {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
