* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

.btw {
  justify-content: space-between;
  display: flex;
}

.logo {
  margin-bottom: 45px;
}

.logo img {
  width: 150px;
  height: auto;
}

.logo1 img {
  max-width: 100%;
}

.row4 {
  max-width: 100%;
}

.btn {
  border-radius: 50px;
}

.btn-pink {
  background-color: hsl(322, 100%, 66%);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.heading {
  background-color: hsl(193, 100%, 96%);
  background-repeat: no-repeat;
  background-size: cover;
}
.pix img {
  width: 100%;
}

.btn1 {
  width: 150px;
  height: 40px;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 7px 3px #ebe0f9;
}

.btn2 {
  width: 60%;
  height: 50px;
  border: none;
  color: white;
}

.btn3 {
  width: 300px;
  max-width: 95%;
  height: 50px;
  border: none;
  box-shadow: 0px 2px 3px 3px #ebe0f9;
  color: white;
  padding: 0 0% 0 0%;
}

.part1 {
  margin-top: 85px;
}

.part1 h1 {
  padding-bottom: 30px;
  font-size: 50px;
  word-wrap: break-word;
}

.part1 p {
  margin-bottom: 40px;
}

.part2 {
  justify-content: center;
  align-content: center;
  display: flex;
}

.posit {
  position: relative;
  top: 90px;
  background-color: white;
}

.main-body img {
  width: 100%;
  height: auto;
}

.main-body {
  margin-top: 50px;
}

.row {
  border: none;
  box-shadow: 0px 0px 1px 5px whitesmoke;
  margin-bottom: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 3.5% 3% 3% 8%;
  flex-wrap: wrap;
}

.row p {
  color: hsl(208, 11%, 55%);
}

.row4 {
  border: none;
  box-shadow: 0px 0px 1px 5px whitesmoke;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 4% 6% 4% 6%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.part {
  justify-content: center;
  align-items: center;
  padding-top: 8%;
}

footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
}

.icon {
  filter: invert(100%);
  width: 20px;
  margin-right: 10px;
}

.logo1 {
  padding-top: 80px;
  width: auto;
}

.footer-grps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.loc {
  display: flex;
  align-items: flex-start;
}

.grp1,
.grp2,
.grp3,
.grp4 {
  margin-top: 18px;
}
.grp4 p {
  font-size: 13px;
}

/* Desktop */
@media (min-width: 376px) and (max-width: 1440px) {
  .heading {
    background-image: url(/First-Capstone/FirstCapstone1/images/bg-hero-desktop.svg);
  }
  .pad1 {
    padding: 4%;
  }
  .pad2 {
    padding: 7% 7% 0% 7%;
  }
  .pad3 {
    padding: 7% 7% 7% 7%;
  }
  .grp4 p {
    padding-top: 220px;
  }
  .btn2 {
    min-width: 140px;
  }
  .row4 {
    min-width: 300px;
  }

  .col-dx-1 {
    width: 8.33%;
  }
  .col-dx-2 {
    width: 16.66%;
  }
  .col-dx-3 {
    width: 25%;
  }
  .col-dx-4 {
    width: 33.33%;
  }
  .col-dx-5 {
    width: 41.66%;
  }
  .col-dx-6 {
    width: 50%;
  }
  .col-dx-7 {
    width: 58.33%;
  }
  .col-dx-8 {
    width: 66.66%;
  }
  .col-dx-9 {
    width: 74.99%;
  }
  .col-dx-10 {
    width: 83.33%;
  }
  .col-dx-11 {
    width: 91.66%;
  }
  .col-dx-12 {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 375px) {
  .heading {
    background-image: url(/First-Capstone/FirstCapstone1/images/bg-hero-mobile.svg);
  }
  .pad1 {
    padding: 8%;
  }
  .pad2 {
    padding: 8%;
  }
  .pad3 {
    padding: 5%;
  }
  .pix img {
    margin-top: 45px;
  }
  .grp2,
  .grp4 {
    padding-top: 25px;
  }
  .grp4 p {
    padding: 15px 0px 20px 0px;
    text-align: center;
  }
  .row img {
    order: 1;
  }
  .row .part {
    order: 2;
  }
  .row {
    padding: 10% 9% 9% 10%;
  }
  .grp4 {
    align-items: center;
  }
  .middle {
    display: flex;
    justify-content: center;
  }
  .btn1 {
    width: 35%;
    height: auto;
  }
  .logo img {
    width: 45%;
    height: auto;
  }
  .heading h1 {
    font-size: xx-large;
  }
  .part2 h2 {
    font-size: small;
    text-align: center;
  }
  .btn3 {
    height: 30px;
    width: 150px;
  }
  .btn3 p {
    font-size: xx-small;
  }
  .row4 button {
    max-width: 90%;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 74.99%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
